<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<!--<ここもdbと同じように作り変える>-->

<table border="1" th:fragment="tablelist">
	<tbody style="background-color: rgb(255, 255, 255);">
		<th style="color:darkmagenta;" th:text="${tablelist_item}"></th>
		<th style="color:darkmagenta;" th:text="${struct_item}"></th>
	</tbody>
	
	<tbody style="background-color: cadetblue;">
		
		
		<tr th:each="tablelist : ${TableList}">
		
			<td>
				<a style="color :orange; " name="tablename" th:href="@{/tb(table=${tablelist})}"th:text="${tablelist}">
			</td>
			<td>
				<a th:href="@{/Struct/s_t(struct_t=${tablelist})}" th:text="${struct}" name="table" ></a>
			</td>
			<td>
				<a th:href="@{/db/showtable/tb/table_name(t_view = ${tablelist})}" name="display" th:title="${tablelist}" th:text="${view_t}"></a>
			</td>
		</tr>
	</tbody>
	</table>
	
</html>
